<ion-content class="external-page">
  <div class="logo-wrapper"
       text-center
       [style.height.%]="30">
    <img class="stacked-logo"
         src="assets/image/logo/stacked.svg"
         [@keyboardState]="(keyboardShowing | async) ? 'open' : 'closed'">
  </div>
  <div class="landing-content bg-blue"
       text-center
       [class.no-padding]="(keyboardShowing | async)">
    <div class="text-white staging-build"
         padding-10
         *ngIf="environmentService.isLocal">STAGING BUILD</div>
    <form class="bg-blue"
          margin-top
          [formGroup]="loginForm"
          (ngSubmit)="login()">
      <ion-list margin-top
                no-lines>
        <ion-item class="bg-white10 border-white50"
                  [class.border-white-bold]="email?.length">
          <ion-label [class.bg-red]="emailCtrl.invalid"
                     [color]="email?.length ? 'white' : 'white50'">
            <ion-icon class="form-icon"
                      name="mail"></ion-icon>
          </ion-label>
          <ion-input autocomplete
                     autoFocus
                     formControlName="email"
                     inputMode="email"
                     name="Email"
                     placeholder="Email*"
                     required
                     type="email"
                     (ionBlur)="validate('email')"
                     (ionChange)="checkValidate('email')"
                     (ionFocus)="setIsInitialEntry('email')"
                     [(value)]="email"></ion-input>
        </ion-item>
        <div class="text-red"
             color="danger"
             padding
             text-left
             *ngIf="emailCtrl?.dirty && emailCtrl?.invalid">Please enter a valid email address </div>
        <ion-item class="bg-white10 border-white50"
                  no-margin
                  [class.border-white-bold]="password?.length">
          <ion-label [class.bg-red]="passwordCtrl.invalid"
                     [color]="password?.length ? 'white' : 'white50'">
            <ion-icon class="form-icon"
                      name="lock"></ion-icon>
          </ion-label>
          <ion-input formControlName="password"
                     inputMode="password"
                     name="Password"
                     placeholder="Password*"
                     required
                     type="password"
                     (ionBlur)="validate('password')"
                     (ionChange)="checkValidate('password')"
                     (ionFocus)="setIsInitialEntry('password')"
                     [(value)]="password"></ion-input>
        </ion-item>
        <div class="text-red"
             color="danger"
             padding
             text-left
             *ngIf="passwordCtrl?.dirty && passwordCtrl?.invalid">Password must be at least 8 characters </div>
        <div text-right="">
          <ion-button class="secret-submit"
                      size="small"
                      type="submit"
                      [disabled]="loginForm.invalid">Submit form</ion-button>
          <ion-button class="forgot-password no-caps not-bold"
                      color="white"
                      fill="clear"
                      size="small"
                      type="button"
                      (click)="goToForgotPassword()">Forgot password?</ion-button>
        </div>
      </ion-list>
    </form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="no-caps"
                      color="white"
                      expand="full"
                      size="large"
                      type="button"
                      (click)="login()"
                      [disabled]="loginForm.invalid">
            <span class="text-blue bold"> {{ loggingIn ? "Logging in..." : "Let's go!" }} </span>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="no-caps"
                      color="white"
                      fill="outline"
                      no-margin
                      size="large"
                      type="button"
                      (click)="showRegisterAlert()"
                      [style.width.%]="100">
            <span class="bold">Register</span>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="no-caps"
                      color="white"
                      fill="outline"
                      no-margin
                      size="large"
                      type="button"
                      (click)="loginWithClever()"
                      [style.width.%]="100">
            <span class="not-bold">Log in with</span>&nbsp;<span class="bold">Clever</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
