<ion-header mode="ios">
  <ion-toolbar hideBackButton
               mode="ios">
    <ion-buttons slot="secondary">
      <ion-button fill="clear"
                  icon-only
                  (click)="back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios">Messaging</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grayLightest">
  <ion-item-group class="bordered-list hover-list mat-font-default"
                  *ngIf="(connectionService.invites$ | async)?.received?.length || (connectionService.invites$ | async)?.sent?.length">
    <ng-template [ngIf]="(connectionService.invites$ | async)?.received?.length > 0">
      <ion-item-divider>
        <ion-label>Invitations Received</ion-label>
      </ion-item-divider>
      <ion-item class="mat-font-default"
                *ngFor="let invite of (connectionService.invites$ | async)?.received">
        <ion-label class="body"> {{invite.stakeholder.first_name + ' ' + invite.stakeholder.last_name}} </ion-label>
        <ion-button fill="clear"
                    icon-only
                    item-end
                    style="font-size:1.4rem;margin-right:16px"
                    (click)="declineInvite(invite)">
          <ion-icon class="text-red"
                    name="close-circle"></ion-icon>
        </ion-button>
        <ion-button fill="clear"
                    icon-only
                    item-end
                    style="font-size:1.4rem"
                    (click)="acceptInvite(invite)">
          <ion-icon color="green"
                    name="checkmark-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-template>
    <ng-template [ngIf]="(connectionService.invites$ | async)?.sent?.length > 0">
      <ion-item-divider>
        <ion-label> Invitations Sent </ion-label>
      </ion-item-divider>
      <ion-item class="mat-font-default"
                *ngFor="let invite of (connectionService.invites$ | async)?.sent">
        <ion-label class="body">{{invite.invite_email}}</ion-label>
        <ion-button fill="clear"
                    icon-only
                    item-end
                    (click)="cancelInvite(invite)">
          <ion-icon class="text-red"
                    name="close"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-template>
  </ion-item-group>
  <ion-item-group *ngIf="(connectionService.all$ | async)?.length
                         || (messageService.unreadMessages$ | async)?.length">
    <ion-item-divider>
      <ion-label>Team Members</ion-label>
    </ion-item-divider>
    <ion-item size="large"
              *ngFor="let connection of (connectionService.all$ | async)"
              (click)="selectTeamMember(connection)">
      <ion-avatar item-left>
        <img [src]="getPhoto(connection)">
      </ion-avatar>
      <ion-label>
        <span class="body"
              [class.bold]="messageSummary[connection?.id]">{{connection?.get_full_name}}</span>
        <ion-badge color="green"
                   *ngIf="messageSummary[connection?.id] > 0">{{ messageSummary[connection?.id] }}</ion-badge>
      </ion-label>
    </ion-item>
  </ion-item-group>
  <empty-state *ngIf="(connectionService.all$ | async)
                      && !(connectionService.all$ | async).length"
               [emptyState]="emptyState"></empty-state>
  <loading *ngIf="!(connectionService.all$ | async)"></loading>
</ion-content>
