<form (ngSubmit)="resetPassword"
      #resetPassword="ngForm">
  <ion-card>
    <ion-card-header>Password</ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Current password</ion-label>
        <ion-input minlength="8"
                   name="currentPassword"
                   required
                   type="password"
                   [(value)]="currentPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">New password</ion-label>
        <ion-input minlength="8"
                   name="newPassword"
                   required
                   type="password"
                   [(value)]="newPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm new password</ion-label>
        <ion-input minlength="8"
                   name="confirmedPassword"
                   required
                   type="password"
                   [(value)]="confirmedPassword"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button color="primary"
                fxFlexAlign="end"
                type="submit"
                (click)="resetPassword"
                [hidden]="formIncomplete">Update</ion-button>
  </ion-card>
</form>
