<form (submit)="resetPassword()">
  <ion-card>
    <ion-card-header>Password</ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label floating>Current password</ion-label>
        <ion-input minlength="8"
                   name="currentPassword"
                   required
                   type="password"
                   [(ngModel)]="currentPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>New password</ion-label>
        <ion-input minlength="8"
                   name="newPassword"
                   required
                   type="password"
                   [(ngModel)]="newPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Confirm new password</ion-label>
        <ion-input minlength="8"
                   name="confirmedPassword"
                   required
                   type="password"
                   [(ngModel)]="confirmedPassword"></ion-input>
      </ion-item>
    </ion-list>
    <button color="primary"
            fxFlexAlign="end"
            ion-button
            type="submit"
            (click)="resetPassword()"
            [hidden]="formIncomplete">Update</button>
  </ion-card>
</form>
