<ion-card>
  <ion-card-header>Notify me when...</ion-card-header>
  <!-- <img src="assets/image/contact/website.svg">
    <div class="italic"
         padding-horizontal>{{ extendedProfileCopy }}</div> -->
  <ion-item-group *ngFor="let section of sections; let last = last">
    <ion-item-divider color="gray">{{section.title}}</ion-item-divider>
    <ion-item class="body"
              *ngFor="let field of section.fields">
      <ion-label>{{field.displayAs}}</ion-label>
      <ion-toggle color="primary"
                  item-end
                  (ionChange)="updateSettings()"
                  [(ngModel)]="userOverview?.notification_settings.push[field.key]">
      </ion-toggle>
    </ion-item>
    <!-- <ion-item>
            <div fxFlex="noshrink"
                  fxLayout="row"
                  fxLayoutAlign="end center"
                  fxLayoutGap="8px">
              <button ion-stroked-button
                      color="primary"
                      *ngIf="showAllOn(section)"
                      (click)="setAllValues(section, true)">All on</button>
              <button ion-raised-button
                      color="primary"
                      *ngIf="!showAllOn(section)"
                      (click)="setAllValues(section, false)">All off</button>
            </div>
        </ion-item> -->
  </ion-item-group>
</ion-card>
