<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <notifications-button></notifications-button>
    </ion-buttons>
    <ion-title>Colleges</ion-title>
    <ion-buttons slot="end">
      <messaging-button></messaging-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grayLight">
  <!-- <ion-list>
    <ng-template let-i="index"
                 let-tile
                 ngFor
                 [ngForOf]="tiles">
      <ion-item lines="none"
                *ngIf="tile.isLocked"
                (click)="viewList(tile)"
                [class.recommended]="tile.name === 'Recommended' && recommendations > 0"
                [class.text-white]="tile.inverse"
                [color]="tile.inverse ? 'blue50' : 'white'"
                [hidden]="shouldHide(tile) || hiddenTiles[tile.name]"
                [ngClass]="tile.inverse ? 'bg-blue50' : 'bg-white'">
        <ion-avatar slot="start">
          <img [src]="tile.iconUrl" />
        </ion-avatar>
        <ion-label>{{ tile.name }}</ion-label>
        <ion-badge color="success"
                   slot="end"
                   *ngIf="tile.name === 'Recommended' && recommendations >= 1 && !user.isParent"> {{ recommendations }}
        </ion-badge>
      </ion-item>
      <ion-item-sliding #slidingItem
                        *ngIf="!tile.isLocked"
                        [class.recommended]="tile.name === 'Recommended' && recommendations > 0"
                        [hidden]="shouldHide(tile) || hiddenTiles[tile.name]"
                        [ngClass]="tile.inverse ? 'bg-blue50' : 'bg-white'">
        <ion-item lines="none"
                  (click)="viewList(tile)">
          <ion-avatar slot="start">
            <img [src]="tile.iconUrl" />
          </ion-avatar>
          <ion-label>{{ tile.name }}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option class="lowercase"
                           color="primary"
                           *ngIf="tile.isCustom"
                           (click)="editTile(tile)">
            <ion-icon name="create"></ion-icon> Edit
          </ion-item-option>
          <ion-item-option class="lowercase"
                           color="danger"
                           (click)="hideTile(tile)">
            <ion-icon name="close"></ion-icon> Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-template>
  </ion-list> -->
  <ion-grid class="ion-no-padding"
            tiles>
    <ion-row>
      <ion-col *ngFor="let tile of tiles; let i = index"
               [attr.col-12]="determineColumns(tile, i, 12)"
               [attr.col-4]="determineColumns(tile, i, 4)
                             && !(shouldHide(tiles[i+1]) || shouldHide(tiles[i+2])) ? true : null"
               [attr.col-6]="determineColumns(tile, i, 6)"
               [attr.col-8]="determineColumns(tile, i, 8)"
               [hidden]="shouldHide(tile) || hiddenTiles[tile.name]">
        <ion-card class="tile"
                  [class.recommended]="tile.name === 'Recommended' && recommendations > 0">
          <ion-button class="tile-button"
                      *ngIf="tile.isLocked"
                      (click)="viewList(tile)"
                      [class.text-white]="tile.inverse"
                      [color]="tile.inverse ? 'primary' : 'light'">
            <div class="tile-button-content flex-column">
              <ion-badge class="tile-badge"
                         color="success"
                         *ngIf="tile.name === 'Recommended' && recommendations >= 1 && !user.isParent">
                {{ recommendations }} </ion-badge>
              <img [src]="tile.iconUrl">
              <div class="tile-label">{{ tile.name }}</div>
            </div>
          </ion-button>
          <ion-list *ngIf="!tile.isLocked">
            <ion-item-sliding #slidingItem>
              <ion-item>
                <ion-button class="tile-button"
                            color="light"
                            (click)="viewList(tile)">
                  <div class="tile-button-content flex-column">
                    <img [src]="tile.iconUrl">
                    <div class="tile-label">{{ tile.name }}</div>
                  </div>
                </ion-button>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option class="lowercase"
                                 color="primary"
                                 *ngIf="tile.isCustom"
                                 (click)="editTile(tile, slidingItem, i)">
                  <ion-icon name="create"
                            slot="top"></ion-icon> Edit
                </ion-item-option>
                <ion-item-option class="lowercase"
                                 color="danger"
                                 (click)="hideTile(tile, slidingItem, i)">
                  <ion-icon name="close"
                            slot="top"></ion-icon> Delete
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
