<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title mode="ios">
      <div class="subhead">{{ title }}</div> {{ category.name }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button [color]="category.isActive ? 'primary' : 'steel'"
                  [disabled]="!category.isActive"
                  (click)="clear()">Clear</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let subCategory of category.subCategories"
              [class.bg-blue10]="subCategory.isActive"
              [hidden]="subCategory.dependency && categoryService.filterArray?.length < 1"
              (click)="viewDetail(subCategory)"> {{ subCategory.name || subCategory.displayName }} <ion-badge item-end
                 *ngIf="subCategory.isActive">{{ subCategory.activeChildCount }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer *ngIf="category.isActive">
  <ion-toolbar color="primary">
    <ion-button fill="clear"
                expand="full"
                slot="end"
                color="white"
                *ngIf="title"
                (click)="viewSummary()"> Next <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
    <ion-button fill="clear"
                expand="full"
                slot="end"
                color="white"
                *ngIf="!title"
                (click)="applyFilters()"> Apply Filters <ion-badge margin-left
                 class="text-blue bg-white">{{ filterService.filter?.activeChildCount }}</ion-badge>
    </ion-button>
  </ion-toolbar>
</ion-footer>
