<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="subhead">{{ title || '' }}</div> {{ category.name }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="clear()"
                  [color]="category.isActive ? 'primary' : 'steel'"
                  [disabled]="!category.isActive">Clear</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar (ionClear)="clearSearch($event)"
                 (ionInput)="search($event)"
                 (keyup.enter)="closeKeyboard()"
                 [(value)]="searchValue">
  </ion-searchbar>
</ion-header>
<ion-content>
  <ng-template [ngIf]="!category.selectedItems[0]?.id && !items?.length">
    <empty-state *ngIf="(!searchValue || !searchValue?.length) && addItems"
                 [emptyState]="addItems"></empty-state>
    <empty-state *ngIf="searchValue && !isSearching && noResults"
                 [emptyState]="noResults"></empty-state>
  </ng-template>
  <ng-template [ngIf]="itemType === 'program'">
    <ng-template [ngIf]="category.selectedItems[0]">
      <ion-item-divider light>
        <ion-label>Selected Program</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-radio checked="true"
                   slot="start"></ion-radio>
        <ion-label>{{ category.selectedItems[0].id }}</ion-label>
      </ion-item>
    </ng-template>
    <ng-template [ngIf]="items?.length">
      <ion-item-divider light>
        <ion-label>Search Results</ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-radio-group [(value)]="selectedItem">
          <ng-template let-i="index"
                       let-item
                       ngFor
                       [ngForOf]="items">
            <ion-item class="ion-padding-left"
                      *ngIf="i===0 || (item?.name !== items[i-1]?.name)">
              <ion-radio slot="start"
                         value="{{item.name}}"
                         (ionSelect)="selectProgram(item)"></ion-radio>
              <ion-label>{{ item.name }}</ion-label>
            </ion-item>
          </ng-template>
        </ion-radio-group>
      </ion-list>
    </ng-template>
  </ng-template>
  <ng-template [ngIf]="itemType === 'major'">
    <ng-template [ngIf]="category?.selectedItems && category.selectedItems?.length">
      <ion-item-divider light>
        <ion-label>Selected Majors</ion-label>
      </ion-item-divider>
      <ion-item class="ion-padding-left"
                *ngFor="let item of category?.selectedItems">
        <ion-label>{{ item.displayValue }}</ion-label>
      </ion-item>
    </ng-template>
    <ng-template [ngIf]="items?.length">
      <ion-item-divider light>
        <ion-label>Search Results</ion-label>
      </ion-item-divider>
      <ion-list>
        <ng-template let-i="index"
                     let-item
                     ngFor
                     [ngForOf]="items">
          <ion-item class="ion-padding-left"
                    *ngIf="i===0 || (item?.name !== items[i-1]?.name)">
            <ion-checkbox [checked]="item?.isActive && category?.isActive"
                          (ionChange)="toggleMajor(item)"></ion-checkbox>
            <ion-label>{{ item.name }}</ion-label>
          </ion-item>
        </ng-template>
      </ion-list>
    </ng-template>
  </ng-template>
</ion-content>
<ion-footer *ngIf="category.isActive || filterService.filter?.activeChildCount">
  <ion-toolbar color="primary">
    <ion-button color="white"
                expand="full"
                fill="clear"
                slot="end"
                *ngIf="filterService.isCyol"
                (click)="viewSummary()"> Next <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
    <ion-button color="white"
                expand="full"
                fill="clear"
                *ngIf="!filterService.isCyol"
                (click)="applyFilters()"> Apply Filters <ion-badge class="text-blue bg-white ion-margin-left">
        {{ filterService.filter?.activeChildCount }}</ion-badge>
    </ion-button>
  </ion-toolbar>
</ion-footer>
