<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="college && college.name">
      <div class="avatar-title">
        <img class="avatar-title-image"
             [src]="college?.photo_url" />
        <div class="avatar-title-text ion-text-left"
             *ngIf="college">
          <div class="truncate body">{{ college.name }}</div>
          <div class="flex-row truncate subhead"
               *ngIf="!isRecd">
            <ion-icon name="pin"></ion-icon>
            <span class="subhead"> {{ college.city?.length && college.state?.length
                  ? college.city + ', ' + college.state
                  : '&nbsp;' }} </span>
          </div>
          <div class="truncate subhead"
               style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start"
               *ngIf="isRecd && recommender">
            <span [style.line-height.px]="20">Rec'd by</span>
            <img [src]="recommender?.profile_photo"
                 [style.height.px]="20">
            <span class="bold"
                  [style.line-height.px]="20"> {{recommender?.get_full_name}} </span>
          </div>
        </div>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear"
                  (click)="toggleSaved($event)"
                  [class.changing]="isChanging"
                  [color]="isSaved ? 'primary' : 'black'"
                  [disabled]="isChanging">
        <ion-icon slot="icon-only"
                  src="assets/icon/saved.svg"
                  *ngIf="isSaved || isChanging"></ion-icon>
        <ion-icon slot="icon-only"
                  src="assets/icon/save.svg"
                  *ngIf="!isSaved || isChanging"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment scrollable="true"
                 (ionChange)="switchView($event)">
      <ion-segment-button value="general">
        <ion-label>General</ion-label>
        <ion-icon name="information-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="academic">
        <ion-label>Academic</ion-label>
        <ion-icon name="school"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="financial">
        <ion-label>Financial</ion-label>
        <ion-icon name="cash"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="campus">
        <ion-label>Campus</ion-label>
        <ion-icon name="pin"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="application">
        <ion-label>Application</ion-label>
        <ion-icon name="document"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content [ngSwitch]="(activeView$ | async)">
  <college-general *ngSwitchCase="'general'"></college-general>
  <college-academic *ngSwitchCase="'academic'"></college-academic>
  <college-financial *ngSwitchCase="'financial'"></college-financial>
  <college-campus *ngSwitchCase="'campus'"></college-campus>
  <college-application *ngSwitchCase="'application'"></college-application>
</ion-content>
<!-- <ion-footer> -->
<!-- <ion-tab-bar slot="bottom">
    <ion-tab-button tab="general">
      <ion-label>General</ion-label>
      <ion-icon name="information-circle"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="academic">
      <ion-label>Academic</ion-label>
      <ion-icon name="school"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="financial">
      <ion-label>Financial</ion-label>
      <ion-icon name="cash"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="campus">
      <ion-label>Campus</ion-label>
      <ion-icon name="pin"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="application">
      <ion-label>Application</ion-label>
      <ion-icon name="document"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar> -->
<!-- </ion-footer> -->
<!-- <loading *ngIf="!college?.details"></loading> -->
