<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title mode="ios"> {{ title || 'Filter' }} </ion-title>
    <ion-buttons slot="primary">
      <ion-button *ngIf="filterService.filter"
                  (click)="clear()"
                  [color]="this.filterService.filter.isActive ? 'primary' : 'steel'"
                  [disabled]="!this.filterService.filter.isActive">Clear</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="filterService.filter">
  <ion-list>
    <ng-template let-category
                 let-i="index"
                 ngFor
                 [ngForOf]="categories">
      <ng-template [ngIf]="category.subCategories">
        <ion-list-header class="bold"
                         color="grayLight"
                         no-margin> {{ category.name }}
          <!-- <button fill="clear" ion-button item-end size="small" color="white"
                  *ngIf="category.activeChildCount"
                  (click)="clearCategory(category)">Clear</button> -->
        </ion-list-header>
        <ion-item *ngFor="let subCategory of category?.subCategories; let i = index"
                  (click)="viewDetails(subCategory, category.name)"
                  [class.bg-blue10]="subCategory.isActive"
                  [hidden]="subCategory.dependency && categoryService.filterArray?.length < 1 "> {{ subCategory.name }}
          <ion-badge item-end
                     *ngIf="subCategory.isActive">{{ subCategory.activeChildCount }}</ion-badge>
        </ion-item>
      </ng-template>
    </ng-template>
    <ion-list-header class="bold"
                     color="grayLight"
                     no-margin>Other</ion-list-header>
    <ng-template let-category
                 let-i="index"
                 ngFor
                 [ngForOf]="categories">
      <ion-item *ngIf="!category?.subCategories"
                (click)="viewDetails(category)"
                [class.bg-blue10]="category.isActive"> {{ category.name }} <ion-badge item-end
                   *ngIf="category?.isActive">{{ category.activeChildCount }}</ion-badge>
      </ion-item>
    </ng-template>
  </ion-list>
</ion-content>
<ion-footer *ngIf="filterService.filter?.activeChildCount > 0">
  <ion-toolbar color="primary">
    <ion-button fill="clear"
                color="white"
                expand="full"
                slot="end"
                *ngIf="filterService.isCyol"
                (click)="viewSummary()"> Next <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
    <ion-button fill="clear"
                color="white"
                expand="full"
                *ngIf="!filterService.isCyol"
                (click)="applyFilters()"> Apply Filters <ion-badge class="text-blue bg-white"
                 margin-left>{{ filterService.filter?.activeChildCount }}</ion-badge>
    </ion-button>
  </ion-toolbar>
</ion-footer>
