<ion-header mode="ios">
  <ion-navbar hideBackButton mode="ios">
    <ion-buttons start>
      <button ion-button icon-only clear (click)="back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title mode="ios">
      <div class="subhead">{{ title }}</div>
      {{ category?.name }}
    </ion-title>
    <ion-buttons end>
      <button ion-button
              [color]="category?.isActive ? 'primary' : 'steel'"
              [disabled]="!category?.isActive"
              (click)="clear()">Clear</button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-padding
               *ngIf="((category?.options?.length > 50) && !isAlphabetized)
                      || isColleges || isMajors">
    <ion-searchbar debounce="1000"
                   mode="ios"
                   type="search"
                   [(ngModel)]="searchTerm"
                   (ionClear)="clearSearch($event)"
                   (ionInput)="search($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template [ngIf]="isAlphabetized">
    <ion-item-group *ngFor="let group of groupedOptions">
      <ion-item-divider light id="{{group.letter}}">{{ group.letter }}</ion-item-divider>
      <ion-item *ngFor="let option of group.options" padding-right [class.bg-blue10]="option?.isActive">
        <ion-checkbox [checked]="option?.isActive && category?.isActive"
                      (ionChange)="updateOption(option)"></ion-checkbox>
        <ion-label>{{ option.value }}</ion-label>
      </ion-item>
    </ion-item-group>
    <div class="alpha-scroll" text-center [class.footer-showing]="category?.isActive">
      <ng-template ngFor let-group [ngForOf]="groupedOptions">
        <button ion-button small clear class="alpha-button" color="primary" (click)="scrollTo(group.letter)">{{ group.letter }}</button>
      </ng-template>
    </div>
  </ng-template>
  <ng-template [ngIf]="!isAlphabetized">
    <!-- <ion-list class="options" *ngIf="!options" [virtualScroll]="category?.options">
      <ion-item *virtualItem="let option" [class.bg-blue10]="option?.isActive">
        <ion-checkbox [checked]="option?.isActive && category?.isActive"
                      (ionChange)="updateOption(option)"></ion-checkbox>
        <ion-label>{{option.value}}</ion-label>
      </ion-item>
    </ion-list> -->
   <ion-list class="options" [virtualScroll]="options">  <!-- *ngIf="options" -->
      <ion-item *virtualItem="let option" [class.bg-blue10]="option?.isActive">
        <ion-checkbox [checked]="option?.isActive && category?.isActive"
                      (ionChange)="updateOption(option)"></ion-checkbox>
        <ion-label tappable (click)="updateOption(option)">{{ option.value }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>

<ion-footer *ngIf="category?.isActive || filterService.filter?.activeChildCount">
  <ion-toolbar color="primary">
    <button ion-button clear full icon-right
            color="white"
            *ngIf="filterService.isCyol"
            (click)="viewSummary()">
      Next
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
    <button ion-button clear full
            color="white"
            *ngIf="!filterService.isCyol"
            (click)="applyFilters()">
      Apply Filters
      <ion-badge margin-left class="text-blue bg-white">{{ filterService.filter?.activeChildCount }}</ion-badge>
    </button>
  </ion-toolbar>
</ion-footer>
