<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">
      <div class="subhead">{{ title }}</div> {{ category?.name }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button [color]="category?.isActive ? 'primary' : 'steel'"
                  [disabled]="!category?.isActive"
                  (click)="clear()">Clear</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar no-padding
               *ngIf="((category?.options?.length > 50) && !isAlphabetized)
                      || isColleges || isMajors">
    <ion-searchbar debounce="1000"
                   mode="ios"
                   type="search"
                   [(value)]="searchTerm"
                   (ionClear)="clearSearch($event)"
                   (ionInput)="search($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-template [ngIf]="isAlphabetized">
    <ion-item-group *ngFor="let group of groupedOptions">
      <ion-item-divider light
                        id="{{group.letter}}">
        <ion-label>{{ group.letter }}</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let option of group.options"
                padding-right
                [class.bg-blue10]="option?.isActive">
        <ion-checkbox [checked]="option?.isActive && category?.isActive"
                      (ionChange)="updateOption(option)"></ion-checkbox>
        <ion-label>{{ option.value }}</ion-label>
      </ion-item>
    </ion-item-group>
    <div class="alpha-scroll"
         text-center
         [class.footer-showing]="category?.isActive">
      <ng-template ngFor
                   let-group
                   [ngForOf]="groupedOptions">
        <ion-button size="small"
                    fill="clear"
                    class="alpha-button"
                    color="primary"
                    (click)="scrollTo(group.letter)">{{ group.letter }}</ion-button>
      </ng-template>
    </div>
  </ng-template>
  <ng-template [ngIf]="!isAlphabetized">
    <!-- <ion-list class="options" *ngIf="!options" [virtualScroll]="category?.options">
      <ion-item *virtualItem="let option" [class.bg-blue10]="option?.isActive">
        <ion-checkbox [checked]="option?.isActive && category?.isActive"
                      (ionChange)="updateOption(option)"></ion-checkbox>
        <ion-label>{{option.value}}</ion-label>
      </ion-item>
    </ion-list> -->
    <ion-virtual-scroll class="options"
                        [items]="options">
      <!-- *ngIf="options" -->
      <ion-item *virtualItem="let option"
                [class.bg-blue10]="option?.isActive">
        <ion-checkbox [checked]="option?.isActive && category?.isActive"
                      (ionChange)="updateOption(option)"></ion-checkbox>
        <ion-label tappable
                   (click)="updateOption(option)">{{ option.value }}</ion-label>
      </ion-item>
    </ion-virtual-scroll>
  </ng-template>
</ion-content>
<ion-footer *ngIf="category?.isActive || filterService.filter?.activeChildCount">
  <ion-toolbar color="primary">
    <ion-button fill="clear"
                expand="full"
                slot="end"
                color="white"
                *ngIf="filterService.isCyol"
                (click)="viewSummary()"> Next <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
    <ion-button fill="clear"
                expand="full"
                color="white"
                *ngIf="!filterService.isCyol"
                (click)="applyFilters()"> Apply Filters <ion-badge margin-left
                 class="text-blue bg-white">{{ filterService.filter?.activeChildCount }}</ion-badge>
    </ion-button>
  </ion-toolbar>
</ion-footer>
