<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <notifications-button></notifications-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <messaging-button></messaging-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-blue">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img class="avatar-shadow img-container"
             [src]="profilePhoto || 'assets/image/contact/avatar.svg'"
             [style.max-height.vh]="30">
      </ion-col>
    </ion-row>
    <ion-row *ngIf="userOverview">
      <ion-col class="text-white70 ion-text-center">
        <div class="displayTitle bold text-white">{{ userOverview.first_name + ' ' + userOverview.last_name }}</div>
        <div class="email">{{ userOverview.email }}</div>
        <div>
          {{ userOverview.graduation_year ? 'Class of ' + userOverview.graduation_year : userOverview.stakeholder_type }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-container *ngIf="userOverview">
    <notification-settings [userOverview]="userOverview"></notification-settings>
    <general-settings [userOverview]="userOverview"></general-settings>
    <contact-settings [userOverview]="userOverview"></contact-settings>
    <password-settings [userOverview]="userOverview"></password-settings>
  </ng-container>
</ion-content>
<ion-footer>
  <ion-button class="ion-margin"
              color="secondary"
              fill="outline"
              style="width: calc( 100% - 32px )"
              (click)="logout()"> Log out <ion-icon name="exit"
              slot="end"></ion-icon>
  </ion-button>
  <!-- <button fill="clear" color="light" expand="full" slot="end"
          ion-button
          (click)="linkService.open(externalProfileUrl)"> Access expand="full" profile <ion-icon name="open"></ion-icon>
  </button> -->
</ion-footer>
