<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons notifications-button
                 slot="secondary"></ion-buttons>
    <ion-title mode="ios">Profile</ion-title>
    <ion-buttons slot="primary"
                 messaging-button></ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-blue">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <img class="avatar-shadow img-container"
             [src]="profilePhoto || 'assets/image/contact/avatar.svg'">
      </ion-col>
    </ion-row>
    <ion-row *ngIf="userOverview">
      <ion-col class="text-white70"
               text-center>
        <div class="displayTitle bold text-white">{{ userOverview.first_name + ' ' + userOverview.last_name }}</div>
        <div class="email">{{ userOverview.email }}</div>
        <div>
          {{ userOverview.graduation_year ? 'Class of ' + userOverview.graduation_year : userOverview.stakeholder_type }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-container *ngIf="user">
    <notification-settings [userOverview]="user"></notification-settings>
    <general-settings [currentUser]="user"></general-settings>
    <contact-settings [currentUser]="user"></contact-settings>
    <password-settings [currentUser]="user"></password-settings>
  </ng-container>
</ion-content>
<ion-footer>
  <ion-button class="no-caps"
              color="white"
              slot="end"
              margin
              fill="outline"
              (click)="logout()"
              style="width: calc( 100% - 32px )"> Log out <ion-icon name="exit"></ion-icon>
  </ion-button>
  <!-- <button fill="clear" color="white" expand="full" slot="end"
          ion-button
          (click)="linkService.open(externalProfileUrl)"> Access expand="full" profile <ion-icon name="open"></ion-icon>
  </button> -->
</ion-footer>
