<ion-list class="ion-padding-vertical"
          (ionChange)="onOptionChange($event)"
          [(ngModel)]="newPrompt.choice">
  <ion-radio-group>
    <ion-item *ngFor="let option of prompt.options.choices">
      <ion-label>{{ option }}</ion-label>
      <ion-radio slot="start"
                 [value]="option"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
<ng-template [ngIf]="newPrompt.choice === 'Awarded'">
  <div class="medium ion-padding">Congratulations! Please enter the amount awarded to you from this scholarship.</div>
  <ion-item no-lines>
    <ion-label slot="start">$</ion-label>
    <ion-input type="number"
               (ionChange)="onOptionChange($event)"
               [(ngModel)]="newPrompt.amount_awarded"></ion-input>
  </ion-item>
</ng-template>
<ion-footer *ngIf="promptCompleted">
  <ion-toolbar color="green">
    <ion-button color="white"
                expand="full"
                fill="clear"
                (click)="submitNewPrompt()">Save</ion-button>
  </ion-toolbar>
</ion-footer>
