<form [formGroup]="testPromptForm">
  <ion-list formControlName="isTakingTest"
            (ionChange)="checkForm()">
    <ion-radio-group>
      <ion-item>
        <ion-radio slot="start"
                   slot="start"
                   [value]="false"></ion-radio>
        <ion-label>I'm not taking it</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio slot="start"
                   slot="start"
                   [value]="true"></ion-radio>
        <ion-label>I am taking it</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <div [hidden]="!isTakingTest.value">
    <div class="medium ion-padding">{{ prompt.question }}</div>
    <ion-list class="ion-no-margin"
              formArrayName="knownDatesArray">
      <ion-item *ngFor="let choiceGroup of knownDateControls; let i = index"
                [formGroupName]="i">
        <ion-checkbox formControlName="checked"
                      slot="start"
                      [checked]="knownDateControls[i].get('date').value.isChosen"
                      (ionChange)="markSelected(knownDateControls[i].get('date').value)"></ion-checkbox>
        <ion-label>{{knownDateControls[i].get('date').value.id === 0 ?
                     knownDateControls[i].get('date').value.value :
                     (knownDateControls[i].get('date').value.value | date:'MMM dd, yyyy')}}</ion-label>
        <!-- <ion-label>{{knownDateControls[i].controls.date.value.id === 0 ?
                     knownDateControls[i].controls.date.value.value :
                     (knownDateControls[i].controls.date.value.value | date:'MMM dd, yyyy')}}</ion-label> -->
      </ion-item>
    </ion-list>
    <ion-list formArrayName="customDatesArray"
              [hidden]="!lastChoiceSelected">
      <ion-item class="no-label"
                *ngFor="let deadline of customDateControls; let i = index"
                [formGroupName]="i">
        <ion-label></ion-label>
        <ion-icon color="medium"
                  slot="start"
                  name="calendar"></ion-icon>
        <ion-datetime displayFormat="MM/DD/YYYY"
                      formControlName="date"
                      name="start_date"
                      pickerFormat="MMMM/DD/YYYY"
                      placeholder="MM/DD/YYYY"
                      type="datetime-local"
                      [max]="maxYear"
                      [min]="minYear"
                      [pickerOptions]="datePickerOptions"
                      [required]="lastChoiceSelected && !simplifiedForm">
        </ion-datetime>
        <ion-button color="danger"
                    fill="clear"
                    icon-only
                    slot="end"
                    type="button"
                    *ngIf="customDateControls.length > 1"
                    (click)="removeCustomDate(i)">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-button class="ion-margin-horizontal ion-margin-bottom"
                color="primary"
                (click)="addCustomDeadline()"
                [disabled]="customDates.invalid"
                [hidden]="!lastChoiceSelected"> Add date </ion-button>
  </div>
</form>
<ion-footer>
  <ion-toolbar color="success">
    <ion-button color="light"
                expand="full"
                fill="clear"
                (click)="submit()"
                [disabled]="testPromptForm.invalid"> Save </ion-button>
  </ion-toolbar>
</ion-footer>
