<ion-list *ngIf="prompt.options.choices"
          (ionChange)="onOptionChange($event)"
          [(ngModel)]="chosenOption[0]">
  <ion-radio-group>
    <ion-item *ngFor="let choice of prompt.options.choices">
      <ion-radio slot="start"
                 slot="start"
                 [value]="choice.id"></ion-radio>
      <ion-label>{{ choice.value }}</ion-label>
    </ion-item>
  </ion-radio-group>
</ion-list>
<ion-footer>
  <ion-toolbar color="green">
    <ion-button color="white"
                expand="full"
                fill="clear"
                (click)="submitNewPrompt()"
                [disabled]="!promptCompleted">Save</ion-button>
  </ion-toolbar>
</ion-footer>
