<ion-list radio-group
          *ngIf="prompt.options.choices"
          (ionChange)="onOptionChange($event)"
          [(ngModel)]="chosenOption[0]">
  <ion-item *ngFor="let choice of prompt.options.choices">
    <ion-radio [value]="choice.id" item-start></ion-radio>
    <ion-label>{{ choice.value }}</ion-label>
  </ion-item>
</ion-list>

<ion-footer>
  <ion-toolbar color="green">
    <button ion-button full clear
            color="white"
            [disabled]="!promptCompleted"
            (click)="submitNewPrompt()">Save</button>
  </ion-toolbar>
</ion-footer>
