<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="secondary">
      <ion-button fill="clear"
                  color="black"
                  icon-only
                  (click)="back()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios"> Create your own list! </ion-title>
  </ion-toolbar>
</ion-header>
<!-- <filter [filter]="filterOptions"
        [hidden]="showSummary || !filterOptions"
        [listType]="page"
        [title]="'Create your own list!'"></filter> -->
<ion-content [class.selections-complete]="selectionsMade">
  <div padding
       *ngIf="list?.filters">
    <h6>Active Filters</h6>
    <ng-template let-filter
                 let-filterIndex="index"
                 ngFor
                 [ngForOf]="list?.filters">
      <ng-template [ngIf]="filter.name !== 'location'">
        <ion-chip color="primary"
                  *ngFor="let value of filter.values; let valueIndex = index"
                  #chip1>
          <ion-label>
            <span class="tinyText">{{ filter.displayName }}</span>
            <span class="bold">{{ value.displayValue || value.id }}</span>
          </ion-label>
          <ion-button fill="clear"
                      color="white"
                      (click)="removeFilter(filter, filterIndex, valueIndex)">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-chip>
      </ng-template>
    </ng-template>
    <p *ngIf="list.filters?.length < 1"><em>You don't have any filters selected!</em></p>
  </div>
  <hr>
  <div padding>
    <ion-item margin-bottom
              no-padding>
      <ion-label>List Name</ion-label>
      <ion-input maxlength="15"
                 placeholder="Name your list"
                 type="text"
                 [(ngModel)]="list.name"></ion-input>
    </ion-item>
  </div>
  <hr>
  <div padding>
    <h6>Pick an Image</h6>
    <ion-grid class="pick-an-image"
              no-padding
              [(ngModel)]="list.image">
      <ion-radio-group>
        <ion-row>
          <ng-template let-image
                       ngFor
                       [ngForOf]="images">
            <ion-col size="4"
                     text-center>
              <ion-button class="image-button"
                          fill="clear"
                          expand="full"
                          icon-only
                          (click)="list.image = image"
                          [class.selected]="list.image === image">
                <img [src]="image">
              </ion-button>
            </ion-col>
          </ng-template>
        </ion-row>
      </ion-radio-group>
    </ion-grid>
  </div>
</ion-content>
<ion-footer *ngIf="selectionsMade">
  <ion-toolbar color="primary">
    <ion-button fill="clear"
                color="white"
                expand="full"
                (click)="saveList()">Save your list</ion-button>
  </ion-toolbar>
</ion-footer>
