<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Create your own list! </ion-title>
  </ion-toolbar>
</ion-header>
<!-- <filter [filter]="filterOptions"
        [hidden]="showSummary || !filterOptions"
        [listType]="page"
        [title]="'Create your own list!'"></filter> -->
<ion-content [class.selections-complete]="selectionsMade">
  <div class="ion-padding"
       *ngIf="list?.filters">
    <h6>Active Filters</h6>
    <ng-template let-filter
                 let-filterIndex="index"
                 ngFor
                 [ngForOf]="list?.filters">
      <ng-template [ngIf]="filter.name !== 'location'">
        <ion-chip color="primary"
                  *ngFor="let value of filter.values; let valueIndex = index"
                  #chip1>
          <ion-label>
            <span class="tinyText">{{ filter.displayName }}</span>
            <span class="bold">{{ value.displayValue || value.id }}</span>
          </ion-label>
          <ion-button color="light"
                      fill="clear"
                      (click)="removeFilter(filter, filterIndex, valueIndex)">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-chip>
      </ng-template>
    </ng-template>
    <p *ngIf="list.filters?.length < 1"><em>You don't have any filters selected!</em></p>
  </div>
  <hr>
  <div class="ion-padding">
    <ion-item class="ion-margin-bottom ion-no-padding">
      <ion-label>List Name</ion-label>
      <ion-input maxlength="15"
                 placeholder="Name your list"
                 type="text"
                 [(ngModel)]="list.name"></ion-input>
    </ion-item>
  </div>
  <hr>
  <div class="ion-padding">
    <h6>Pick an Image</h6>
    <ion-grid class="pick-an-image ion-no-padding">
      <ion-radio-group [(value)]="list.image">
        <ion-row>
          <ng-template let-image
                       ngFor
                       [ngForOf]="images">
            <ion-col class="ion-text-center"
                     size="4">
              <ion-button class="image-button"
                          expand="full"
                          fill="clear"
                          icon-only
                          (click)="list.image = image"
                          [class.selected]="list.image === image">
                <img [src]="image">
              </ion-button>
            </ion-col>
          </ng-template>
        </ion-row>
      </ion-radio-group>
    </ion-grid>
  </div>
</ion-content>
<ion-footer *ngIf="selectionsMade">
  <ion-toolbar color="primary">
    <ion-button color="light"
                expand="full"
                fill="clear"
                (click)="saveList()">Save your list</ion-button>
  </ion-toolbar>
</ion-footer>
