<ion-header mode="ios">
  <ion-navbar mode="ios">
    <ion-buttons start>
      <button clear
              color="black"
              icon-only
              ion-button
              (click)="back()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title mode="ios">
      Create your own list!
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- <filter [filter]="filterOptions"
        [hidden]="showSummary || !filterOptions"
        [listType]="page"
        [title]="'Create your own list!'"></filter> -->

<ion-content [class.selections-complete]="selectionsMade">
  <div padding
       *ngIf="list?.filters">
    <h6>Active Filters</h6>
    <ng-template let-filter
                 let-filterIndex="index"
                 ngFor
                 [ngForOf]="list?.filters">
      <ng-template [ngIf]="filter.name !== 'location'">
        <ion-chip color="primary"
                  *ngFor="let value of filter.values; let valueIndex = index"
                  #chip1>
          <ion-label>
            <span class="tinyText">{{ filter.displayName }}</span>
            <span class="bold">{{ value.displayValue || value.id }}</span>
          </ion-label>
          <button clear
                  color="white"
                  ion-button
                  (click)="removeFilter(filter, filterIndex, valueIndex)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-chip>
      </ng-template>
    </ng-template>
    <p *ngIf="list.filters?.length < 1"><em>You don't have any filters selected!</em></p>
  </div>
  <hr>
  <div padding>
    <h6>List Name</h6>
    <ion-item margin-bottom
              no-padding>
      <ion-input maxlength="15"
                 placeholder="Name your list"
                 type="text"
                 [(ngModel)]="list.name"></ion-input>
    </ion-item>
  </div>
  <hr>
  <div padding>
    <h6>Pick an Image</h6>
    <ion-grid class="pick-an-image"
              no-padding
              radio-group
              [(ngModel)]="list.image">
      <ion-row>
        <ng-template let-image
                     ngFor
                     [ngForOf]="images">
          <ion-col col-4
                   text-center>
            <button class="image-button"
                    clear
                    full
                    icon-only
                    ion-button
                    (click)="list.image = image"
                    [class.selected]="list.image === image">
              <img [src]="image">
            </button>
          </ion-col>
        </ng-template>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer *ngIf="selectionsMade">
  <ion-toolbar color="primary">
    <button clear
            color="white"
            full
            ion-button
            (click)="saveList()">Save your list</button>
  </ion-toolbar>
</ion-footer>
