<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button color="black"
                  fill="clear"
                  icon-only
                  (click)="closeShareModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Send {{ itemType }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content expand="full"
             screen="false"
             [ngSwitch]="itemType">
  <!-- SCHOLARSHIP -->
  <ion-item no-lines
            *ngSwitchCase="'Scholarship'">
    <ion-label></ion-label>
    <ion-avatar slot="start"
                *ngIf="imageUrl">
      <img class="avatar-shadow bg-white"
           [src]="imageUrl">
    </ion-avatar>
    <div class="body truncate">{{ item.name || item.scholarship?.name }}</div>
    <div class="subhead truncate">
      <ng-template [ngIf]="item.award_amount || item.scholarship?.award_amount">
        <span class="bold text-green"> {{ item.award_amount || item.scholarship?.award_amount }} </span>
        <span>&thinsp;|&thinsp;</span>
      </ng-template> {{ item.sponsor?.name || item.scholarship?.sponsor.name }}
    </div>
  </ion-item>
  <!-- COLLEGE -->
  <ion-item no-lines
            *ngSwitchCase="'College'">
    <ion-avatar slot="start">
      <img class="avatar-shadow"
           [src]="item.photo_url || item.institution.photo_url">
    </ion-avatar>
    <ion-label class="body truncate"> {{ item.name || item.institution_name || item.institution.name }} </ion-label>
    <p>
      <ion-icon class="subhead"
                name="pin"></ion-icon>
      <span class="subhead"
            *ngIf="item.city && item.state">{{ item.city + ', ' + item.state }}</span>
      <span class="subhead"
            *ngIf="item.institution?.city && item.institution?.state">
        {{ item.institution?.city + ', ' + item.institution?.state }} </span>
    </p>
  </ion-item>
  <!-- TASK -->
  <ion-item no-lines
            *ngSwitchCase="'Task'">
    <ion-label></ion-label>
    <ion-avatar slot="start">
      <img class="bg-white"
           [class.avatar-shadow]="item.task?.task_type == 'CS'"
           [src]="imageUrl">
    </ion-avatar>
    <div class="body truncate">{{ item.task.name }}</div>
    <p>
      <ion-icon class="subhead"
                name="calendar"></ion-icon>
      <span class="subhead"
            *ngIf="item.dueDate">Due by {{ item.dueDate | date }}</span>
    </p>
  </ion-item>
  <!-- CONNECTIONS -->
  <div class="connections horizontal-scroll">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-between ion-justify-content-start ion-margin-horizontal"
               nowrap>
        <ion-col class="ion-align-self-stretch ion-justify-content-start ion-margin-right ion-text-center"
                 tappable
                 *ngFor="let connection of (connectionService.all$ | async)"
                 (click)="toggleSelection(connection)">
          <ion-icon class="selected-check"
                    name="checkmark"
                    [class.checked]="connection?.isSelected"></ion-icon>
          <img class="img-avatar"
               [src]="connection?.profile_photo || 'assets/image/contact/avatar-gray.svg'">
          <div class="chartPercentage ion-text-center"
               [style.margin-top.px]="6">{{ connection?.get_full_name || connection?.full_name }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <form (ngSubmit)="send()">
    <ion-item class="ion-padding">
      <ion-label></ion-label>
      <ion-input name="message"
                 [disabled]="!selectedConnections.size"
                 [placeholder]="selectedConnections.size ? 'Add a message...' : 'Select recipient(s), then add a message'"
                 [(value)]="message"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar [color]="(isSent || isSending) ? 'green' : (selectedConnections.size ? 'primary' : 'white')">
    <ion-button class="bold"
                color="white"
                expand="full"
                fill="clear"
                type="submit"
                *ngIf="selectedConnections.size"
                (click)="send()"
                [disabled]="isSending"> {{ isSent ? 'Sent!' : (isSending ? 'Sending...' : 'Send') }} </ion-button>
    <ion-button class="bold"
                color="primary"
                expand="full"
                fill="clear"
                type="button"
                *ngIf="!selectedConnections.size"
                (click)="closeShareModal()"> Cancel </ion-button>
  </ion-toolbar>
</ion-footer>
