<ion-content>
  <ion-card *ngIf="graduationChart
                   || retentionChart
                   || admissionChart">
    <ion-card-header>Academic Statistics</ion-card-header>
    <ion-grid>
      <ion-row *ngIf="admissionChart">
        <ion-col>
          <radial-chart [label]="admissionChart?.label"
                        [value]="admissionChart?.value"></radial-chart>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="graduationChart">
        <ion-col>
          <radial-chart [label]="graduationChart?.label"
                        [value]="graduationChart?.value"></radial-chart>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card *ngIf="details
                   && scoreCharts?.length">
    <ion-card-header>Average Scores <small>(based on the current freshman class)</small>
    </ion-card-header>
    <div>
      <range-chart [charts]="scoreCharts"></range-chart>
    </div>
  </ion-card>
  <ion-card *ngIf="details?.top_majors.length">
    <ion-card-header>Top Majors</ion-card-header>
    <ion-list>
      <ion-item *ngFor="let major of details.top_majors">
        <ion-label>{{ major | titlecase }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card *ngIf="details?.pre_dentistry
                   || details?.pre_law
                   || details?.pre_medicine
                   || details?.pre_optometry
                   || details?.pre_pharmacy
                   || details?.pre_theology
                   || details?.pre_veterinary">
    <ion-card-header>Pre-Professional Programs</ion-card-header>
    <ion-list class="pre-pro">
      <ng-template let-program
                   ngFor
                   [ngForOf]="preProPrograms">
        <ion-item *ngIf="details && details[program.property]">
          <ion-thumbnail slot="start">
            <img src="assets/image/college/detail_pre-{{program.name}}.svg" />
          </ion-thumbnail>
          <ion-label>Pre-{{program.name | titlecase}}</ion-label>
        </ion-item>
      </ng-template>
    </ion-list>
  </ion-card>
  <ion-card *ngIf="details?.rotc_army
                   || details?.rotc_navy
                   || details?.rotc_airforce">
    <ion-card-header>Reserve Officers' Training Corps (ROTC)</ion-card-header>
    <ion-list>
      <ng-template let-branch
                   ngFor
                   [ngForOf]="rotcBranches">
        <ion-item class="align-self-center"
                  *ngIf="details && details[branch.property]">
          <ion-thumbnail slot="start">
            <img height="60"
                 src="assets/image/military/{{branch.filename}}.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2>{{branch.name}}</h2>
            <p>{{details[branch.property]}}</p>
          </ion-label>
        </ion-item>
      </ng-template>
    </ion-list>
  </ion-card>
  <ion-card *ngIf="furtherStudyChart || jobMarketChart">
    <ion-card-header>Graduate Statistics</ion-card-header>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col *ngIf="furtherStudyChart">
          <radial-chart [label]="furtherStudyChart.label"
                        [value]="furtherStudyChart.value"></radial-chart>
        </ion-col>
        <ion-col *ngIf="jobMarketChart">
          <radial-chart [label]="jobMarketChart.label"
                        [value]="jobMarketChart.value"></radial-chart>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
