@import '../../../../theme/variables.scss';

chat-body {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  .messages-container {
    width: 100%;

    &:not(:last-child) {
      padding-bottom: 100px;
    }
  }

  ion-col.message-col {
    max-width: calc(100% - 40px);

    .actionIcon {
      padding-left: 20px;
      line-height: 1;
      padding-bottom: 5px;
    }

    .body.block button {
      max-width: 100%;

      .button-inner {
        white-space: normal;
      }
    }
  }

  ion-row {

    &.from-them+ion-row.from-them:NOT(.new-author) ion-col,
    &.from-me+ion-row.from-me ion-col {

      div.from-them:before,
      div.from-me:after {
        visibility: hidden;
      }
    }

    &.from-them.new-author {
      margin-top: 8px;
    }

    &.message-date.row:NOT(:first-child) {
      margin-top: 8px;
    }
  }

  div.from-me,
  div.from-them {
    position: relative;
    overflow: visible;
    border-radius: 5px;
    padding: 10px;
  }

  div.from-them:before,
  div.from-me:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-top-width: 10px;
    border-top-style: solid;
    border-bottom: 10px solid transparent;
    top: 0;
  }

  div.from-them {
    background-color: var(--grayLighter);
    margin-left: 10px;
    margin-right: 40px;

    &:before {
      border-left: 10px solid transparent;
      border-right: 10px solid var(--grayLighter);
      border-top-color: var(--grayLighter);
      left: -12px;
    }
  }

  div.from-me {
    background-color: var(--blue);
    margin-right: 10px;
    margin-left: 40px;

    &:after {
      border-left: 10px solid var(--blue);
      border-right: 10px solid transparent;
      border-top-color: var(--blue);
      right: -12px;
    }

    .note {
      color: white;
    }
  }

  ion-avatar {
    height: 40px !important;
    width: 40px !important;

    img {
      object-fit: cover;
      border-radius: 50%;
      height: 40px;
    }

    >ion-icon.icon.icon-md {
      height: 40px;
      width: 40px;
      font-size: 48px;
      color: var(--steel50);
      text-align: center;
      line-height: 40px;
      margin-left: -4px;
    }
  }

  .actionIcon {
    letter-spacing: 0;
  }

  .item-md.item-block div.item-inner {
    padding: 0;
  }

  .note+ion-chip {
    margin-top: 8px;
  }

  .body ion-chip ion-icon {
    margin-right: 4px;
  }
}
