<form *ngIf="studentAnswers.page"
      #phspSurveyForm="ngForm">
  <div [class.height-100]="hideFormNavButtons">
    <ng-template [ngIf]="studentAnswers.page === 1">
      <div class="surveyQuestion small"> What is your post high school plan? <span
              [class.text-red]="plan.touched && plan.invalid">*</span>
      </div>
      <ion-list name="plan"
                required
                (ionChange)="onPlanChanged(plan)"
                #plan="ngModel"
                [(ngModel)]="studentAnswers.plan">
        <ion-radio-group>
          <ion-item *ngFor="let plan of plans">
            <ion-radio slot="start"
                       slot="start"
                       [value]="plan.value"></ion-radio>
            <ion-label>{{ plan.name }}</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ng-template>
    <ng-template [ngIf]="!isShortSurvey">
      <ng-template [ngIf]="isUniversityPlan">
        <ng-template [ngIf]="!taskTracker.isComplete">
          <ng-template [ngIf]="studentAnswers.page === 2">
            <survey-phsp-colleges [list]="studentAnswers.institutions_followed"
                                  [startOnLastSlide]="startOnLastSlide">
            </survey-phsp-colleges>
          </ng-template>
          <ng-template [ngIf]="studentAnswers.page === 3">
            <div class="surveyQuestion small"> Which college do you plan to attend? <span
                    [class.text-red]="college_attending_id.touched && college_attending_id.invalid">*</span>
            </div>
            <ion-item class="no-label">
              <ion-label></ion-label>
              <ion-select interface="popover"
                          name="college_attending"
                          placeholder="Select college"
                          required
                          #college_attending_id="ngModel"
                          (ionChange)="onCollegeAttendingChanged($event)"
                          [(ngModel)]="studentAnswers.college_attending_id">
                <ion-select-option [value]="-1">To be decided</ion-select-option>
                <ion-select-option *ngFor="let college of acceptedColleges"
                                   [value]="college.id"> {{ college.name }} </ion-select-option>
              </ion-select>
            </ion-item>
            <div class="surveyQuestion small"> What is your intended major or field of study? <span
                    [class.text-red]="major.touched && major.invalid">*</span>
            </div>
            <ion-item>
              <ion-label></ion-label>
              <ion-input name="major"
                         placeholder="Intended major / field of study"
                         required
                         type="text"
                         #major="ngModel"
                         [(ngModel)]="studentAnswers.major"></ion-input>
            </ion-item>
            <ng-template [ngIf]="studentAnswers.college_attending_id && studentAnswers.college_attending_id !== -1">
              <div class="surveyQuestion small">If any, how much financial aid are you receiving from this college?
              </div>
              <ion-item>
                <ion-label></ion-label>
                <span slot="start">$</span>
                <ion-input min="1"
                           name="financial_aid"
                           pattern="[0-9]*"
                           placeholder="ex: 5000"
                           type="number"
                           #financial_aid="ngModel"
                           [(ngModel)]="studentAnswers.financial_aid"></ion-input>
                <span slot="end">.00</span>
              </ion-item>
              <div class="surveyQuestion small"> What is your intended start date? <span
                      [class.text-red]="start_date.touched && start_date.invalid">*</span>
              </div>
              <ion-item class="no-label">
                <ion-label></ion-label>
                <ion-icon color="primary"
                          slot="start"
                          name="calendar"></ion-icon>
                <ion-datetime displayFormat="MM/DD/YYYY"
                              name="start_date"
                              pickerFormat="MMMM/DD/YYYY"
                              placeholder="Start date"
                              required
                              type="datetime-local"
                              [max]="maxYear"
                              [min]="minYear"
                              [pickerOptions]="datePickerOptions"
                              #start_date="ngModel"
                              [(ngModel)]="studentAnswers.start_date"></ion-datetime>
              </ion-item>
            </ng-template>
          </ng-template>
          <ng-template [ngIf]="studentAnswers.page === 4">
            <survey-phsp-scholarships [list]="studentAnswers.scholarships_followed"
                                      [startOnLastSlide]="startOnLastSlide">
            </survey-phsp-scholarships>
          </ng-template>
        </ng-template>
        <ng-template [ngIf]="studentAnswers.page === 5 || taskTracker.isComplete">
          <survey-phsp-results-college class="bg-grayLight"
                                       *ngIf="surveyResults"
                                       [surveyResults]="surveyResults"
                                       [taskIsComplete]="taskTracker.isComplete">
          </survey-phsp-results-college>
        </ng-template>
      </ng-template>
      <ng-template [ngIf]="!isUniversityPlan">
        <ng-template [ngIf]="studentAnswers.page === 2 && !taskTracker.isComplete">
          <ng-template [ngIf]="studentAnswers.plan === 'military'">
            <div class="surveyQuestion small"> Which branch of the military do you plan to enter? <span
                    [class.text-red]="branch.touched && branch.invalid">*</span>
            </div>
            <ion-list name="branch"
                      required
                      #branch="ngModel"
                      [(ngModel)]="studentAnswers.branch">
              <ion-radio-group>
                <ion-item *ngFor="let branch of militaryBranches">
                  <ion-radio slot="start"
                             slot="start"
                             [value]="branch.value"></ion-radio>
                  <ion-label>{{ branch.name }}</ion-label>
                  <ion-avatar slot="end">
                    <img [src]="branch.logo">
                  </ion-avatar>
                </ion-item>
                <ion-item style="height: 57px">
                  <ion-radio slot="start"
                             slot="start"
                             value="To be determined"></ion-radio>
                  <ion-label>To be determined</ion-label>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ng-template>
          <ng-template [ngIf]="studentAnswers.plan === 'workforce'">
            <div class="surveyQuestion small"> Who will be your employer? <span
                    [class.text-red]="employer.touched && employer.invalid">*</span>
            </div>
            <ion-item>
              <ion-label></ion-label>
              <ion-input name="employer"
                         placeholder="Employer"
                         required
                         type="text"
                         #employer="ngModel"
                         [(ngModel)]="studentAnswers.employer"></ion-input>
            </ion-item>
          </ng-template>
          <ng-template [ngIf]="studentAnswers.plan === 'other'">
            <div class="surveyQuestion small"> Please describe your post high school plan. <span
                    [class.text-red]="custom_plan.touched && custom_plan.invalid">*</span>
            </div>
            <ion-item>
              <ion-label></ion-label>
              <ion-textarea name="custom_plan"
                            placeholder="Take a year off, attend a college prep school, not graduating this year, not sure yet, etc..."
                            required
                            type="text"
                            #custom_plan="ngModel"
                            [(ngModel)]="studentAnswers.custom_plan"></ion-textarea>
            </ion-item>
          </ng-template>
          <ng-template [ngIf]="studentAnswers.plan === 'trade'">
            <div class="surveyQuestion small"> What school do you plan to attend? <span
                    [class.text-red]="trade_school.touched && trade_school.invalid">*</span>
            </div>
            <ion-item>
              <ion-label></ion-label>
              <ion-input name="trade_school"
                         placeholder="Trade/vocational school"
                         required
                         type="text"
                         #trade_school="ngModel"
                         [(ngModel)]="studentAnswers.trade_school"></ion-input>
            </ion-item>
            <div class="surveyQuestion small"> What trade/vocational certification will you be pursuing? <span
                    [class.text-red]="certification.touched && certification.invalid">*</span>
            </div>
            <ion-item>
              <ion-label></ion-label>
              <ion-input name="certification"
                         placeholder="Trade/vocational certification"
                         required
                         type="text"
                         #certification="ngModel"
                         [(ngModel)]="studentAnswers.certification"></ion-input>
            </ion-item>
          </ng-template>
          <ng-template [ngIf]="studentAnswers.plan !== 'other'">
            <div class="surveyQuestion small"> What is your intended start date? <span
                    [class.text-red]="start_date.touched && start_date.invalid">*</span>
            </div>
            <ion-item class="no-label">
              <ion-label></ion-label>
              <ion-icon color="primary"
                        slot="start"
                        name="calendar"></ion-icon>
              <ion-datetime displayFormat="MM/DD/YYYY"
                            name="start_date"
                            pickerFormat="MMMM/DD/YYYY"
                            placeholder="Start date"
                            required
                            type="datetime-local"
                            [max]="maxYear"
                            [min]="minYear"
                            [pickerOptions]="datePickerOptions"
                            #start_date="ngModel"
                            [(ngModel)]="studentAnswers.start_date"></ion-datetime>
            </ion-item>
          </ng-template>
        </ng-template>
        <ng-template [ngIf]="studentAnswers.page === 3 || taskTracker.isComplete">
          <survey-phsp-results class="bg-grayLight"
                               *ngIf="surveyResults"
                               [answers]="surveyResults.answers"
                               [taskIsComplete]="taskTracker.isComplete"></survey-phsp-results>
        </ng-template>
      </ng-template>
    </ng-template>
    <ng-template [ngIf]="isShortSurvey && (studentAnswers.page === 2 || taskTracker.isComplete)">
      <div class="md-headline task-text md-margin"> You plan to <span
              class="md-font-bold text-green-brand">{{ planDescriptions[studentAnswers.plan] }}.</span>
      </div>
    </ng-template>
  </div>
  <ion-grid class="ion-padding-10"
            *ngIf="!hideFormNavButtons && !taskTracker.isComplete">
    <ion-row>
      <ion-col *ngIf="studentAnswers.page > 1">
        <ion-button color="medium"
                    expand="block"
                    fill="clear"
                    type="button"
                    (click)="previousPage()"> Back </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="warning"
                    expand="block"
                    type="button"
                    *ngIf="!isLastQuestion && !isConfirmationPage && !isShortSurvey"
                    (click)="nextPage()"
                    [disabled]="phspSurveyForm.form.invalid || isInvalid"> Continue </ion-button>
        <ion-button color="warning"
                    expand="block"
                    type="button"
                    *ngIf="isLastQuestion && !isConfirmationPage"
                    (click)="viewConfirmation()"
                    [disabled]="phspSurveyForm.form.invalid || isInvalid"> Finish Survey </ion-button>
        <ion-button color="warning"
                    expand="block"
                    type="submit"
                    *ngIf="(studentAnswers.page === 1 && isShortSurvey) ||
                       (isConfirmationPage && !isLastQuestion)"
                    (click)="surveyComplete()"
                    [disabled]="phspSurveyForm.form.invalid || isInvalid"> Submit </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<loading *ngIf="!studentAnswers.page"></loading>
