<form #customSurveyForm="ngForm"
      (ngSubmit)="finishSurvey()">
  <ion-list>
    <ion-item *ngFor="let question of data">
      <ion-label class="surveyQuestion small"
                 position="stacked">{{ question.text }}</ion-label>
      <ion-input name="question-{{question.rank}}"
                 required
                 [(ngModel)]="question.answer"></ion-input>
    </ion-item>
  </ion-list>
  <ion-footer class="no-border ion-padding-10">
    <ion-button color="warning"
                expand="block"
                type="submit"
                [disabled]="customSurveyForm.form.invalid">
      {{ taskTracker.isComplete ? 'Update Survey' : 'Finish Survey' }} </ion-button>
  </ion-footer>
</form>
