<div padding
     *ngIf="isPrompt">
  <div padding-bottom>Search for your high school by name or ZIP code.</div>
  <div class="tinyText bold">If no matches are found, email <a class="external-link external-link-email"
       href="mailto:info@nexttiereducation.com">info@nexttiereducation.com</a> for assistance.</div>
</div>
<div class="search-container"
     *ngIf="!selectedHighSchool">
  <ion-searchbar color="positive"
                 placeholder="Search by name or ZIP code"
                 [mode]="isPrompt ? 'ios' : 'md'"
                 [ngClass]="{'bg-white10 border-white50 register': isNewUser}"
                 (ionInput)="search()"
                 (search)="closeKeyboard()"
                 [(ngModel)]="searchValue">
  </ion-searchbar>
  <ion-list>
    <ion-item tappable
              *ngFor="let school of highSchools"
              (click)="selectSchool(school)">
      <ion-label>
        <div class="body bold">{{ school.name | titlecase }}</div>
        <div class="body">{{ (school.city | titlecase) + ', ' + school.state + ' ' + school.zipcode }}</div>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
<ng-template [ngIf]="selectedHighSchool">
  <ion-card>
    <ion-row align-items-center>
      <ion-col size="auto">
        <img class="school"
             src="assets/image/college/tile_all.svg" />
      </ion-col>
      <ion-col>
        <div class="body bold">{{ selectedHighSchool.name | titlecase }}</div>
        <div class="body">
          {{ (selectedHighSchool.city | titlecase) + ', ' + selectedHighSchool.state + ' ' + selectedHighSchool.zipcode }}
        </div>
      </ion-col>
      <ion-col size="auto">
        <ion-button icon-only
                    fill="clear"
                    color="primary"
                    (click)="deselectHighSchool()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-footer *ngIf="!isNewUser">
    <ion-toolbar color="green">
      <ion-button expand="full"
                  clear
                  color="white"
                  (click)="saveHighSchool()">Save</ion-button>
    </ion-toolbar>
  </ion-footer>
</ng-template>
