<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title mode="ios"
               tappable
               (click)="scrollToTop()">
      <div class="subhead text-grayDark50"
           *ngIf="list?.name">Scholarships</div> {{ list?.name || 'Scholarships' }}
    </ion-title>
    <ion-buttons slot="primary"
                 messaging-button></ion-buttons>
  </ion-toolbar>
  <ion-toolbar no-padding
               *ngIf="list.name !== 'Applying' && list.name !== 'Recommended' && list.name !== 'Saved'">
    <ion-grid no-padding>
      <ion-row align-items-start>
        <ion-col>
          <ion-searchbar debounce="1000"
                         mode="ios"
                         type="search"
                         (ionClear)="clearSearch($event)"
                         (ionInput)="search($event)"
                         (keyup.enter)="keyboard.close()"
                         [(ngModel)]="searchTerm"></ion-searchbar>
        </ion-col>
        <ion-col size="auto">
          <ion-button class="filter-button"
                      fill="clear"
                      color="grayDark50"
                      icon-only
                      (click)="openFilters($event)">
            <ion-icon name="funnel"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grayLight">
  <ion-list card-list
            [hidden]="!(scholarshipService[list.serviceVariable] | async).length">
    <ion-card *ngFor="let scholarship of (scholarshipService[list.serviceVariable] | async); let index = index">
      <ion-item class="scholarship-title"
                detail-none
                (click)="viewScholarship(scholarship)">
        <ion-label>
          <h3 class="truncate">{{ scholarship.name || scholarship.scholarship?.name }}</h3>
          <div class="bold subhead text-green"> {{ scholarship.award_amount || scholarship.scholarship?.award_amount }}
          </div>
          <div class="subhead truncate">{{ scholarship.sponsor?.name || scholarship.scholarship?.sponsor.name }}</div>
        </ion-label>
      </ion-item>
      <ion-grid no-padding>
        <ion-row align-items-center
                 justify-content-start
                 nowrap>
          <ion-col size="auto"
                   *ngIf="!scholarship.saved && !scholarship.scholarship?.saved"
                   [ngSwitch]="isSavingIndex === index">
            <ion-button class="lowercase"
                        fill="clear"
                        color="primary"
                        slot="start"
                        size="small"
                        (click)="setSavingIndex(index);save(scholarship)"
                        *ngSwitchCase="false">
              <ion-icon name="nt-save"></ion-icon> Save
            </ion-button>
            <ion-button class="lowercase"
                        fill="clear"
                        color="primary"
                        slot="start"
                        size="small"
                        *ngSwitchCase="true">
              <ion-icon name="nt-saving"></ion-icon> Saving...
            </ion-button>
          </ion-col>
          <ion-col size="auto"
                   *ngIf="scholarship.saved || scholarship.scholarship?.saved">
            <ion-button class="lowercase"
                        fill="clear"
                        color="green"
                        slot="start"
                        size="small"
                        (click)="remove(scholarship)">
              <ion-icon name="nt-saved"></ion-icon> Saved
            </ion-button>
          </ion-col>
          <ion-col size="auto"
                   *ngIf="list.name === 'Recommended'">
            <ion-button class="lowercase"
                        fill="clear"
                        color="primary"
                        slot="start"
                        size="small"
                        (click)="removeRec(scholarship.id)">
              <ion-icon name="nt-unsave"></ion-icon> Remove
            </ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button class="lowercase"
                        fill="clear"
                        color="primary"
                        slot="start"
                        size="small"
                        *ngIf="(connectionService.all$ | async)?.length"
                        (click)="openSendModal(scholarship)">
              <ion-icon name="send"></ion-icon> Send
            </ion-button>
          </ion-col>
          <ion-col class="chip-container truncate fit"
                   margin-right
                   text-right
                   *ngIf="list.name === 'Recommended' && scholarship.recommender">
            <ion-chip class="truncate fit recommender"
                      color="green">
              <ion-label>{{ scholarship.recommender.get_full_name }}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
  <ng-container *ngIf="(scholarshipService[list.serviceVariable] | async).length > 0
                       && scholarshipService.nextPage
                       && list.name === 'Search All'">
    <ion-infinite-scroll threshold="20%"
                         (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"
                                   loadingText="Loading..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
  <ng-template
               [ngIf]="!(scholarshipService[list.serviceVariable] | async).length
                       && ((scholarshipService[list.serviceVariable] | async) || !scholarshipService.fetchingScholarships)">
    <empty-state *ngIf="emptyState"
                 [emptyState]="emptyState"></empty-state>
  </ng-template>
  <ng-template
               [ngIf]="!(scholarshipService[list.serviceVariable] | async).length
                       && (!(scholarshipService[list.serviceVariable] | async) || scholarshipService.fetchingScholarships)">
    <ion-list>
      <ion-card class="placeholder"
                *ngFor="let placeholder of placeholders">
        <ion-item>
          <ion-avatar class="grey-gradient"
                      item-left></ion-avatar>
          <div class="grey-gradient"></div>
          <div class="grey-gradient"></div>
        </ion-item>
        <div class="darker-grey-gradient img-block"></div>
      </ion-card>
    </ion-list>
  </ng-template>
</ion-content>
<ion-footer>
  <div list-tabs></div>
</ion-footer>
