<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title tappable
               (click)="scrollToTop()">
      <div class="subhead text-grayDark50"
           *ngIf="list?.name">Scholarships</div> {{ list?.name || 'Scholarships' }}
    </ion-title>
    <ion-buttons slot="end">
      <messaging-button></messaging-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="ion-no-padding"
               *ngIf="list?.name !== 'Applying'
                      && list?.name !== 'Recommended'
                      && list?.name !== 'Saved'">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-start">
        <ion-col>
          <ion-searchbar debounce="1000"
                         type="search"
                         (ionClear)="clearSearch($event)"
                         (ionChange)="search($event)"></ion-searchbar>
        </ion-col>
        <ion-col size="auto">
          <ion-button class="filter-button"
                      color="medium"
                      fill="clear"
                      icon-only
                      (click)="openFilters()">
            <ion-icon name="funnel"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grayLight">
  <ion-list card-list
            *ngIf="(ships$ | async)?.length > 0">
    <ion-card *ngFor="let scholarship of (ships$ | async); let index = index">
      <ion-item class="scholarship-title"
                lines="none"
                (click)="viewScholarship(scholarship)">
        <ion-label>
          <h2 class="truncate">{{ scholarship.name || scholarship.scholarship?.name }}</h2>
          <p class="bold">
            <ion-text color="success">{{ scholarship.award_amount || scholarship.scholarship?.award_amount }}
            </ion-text>
          </p>
          <p class="truncate">{{ scholarship.sponsor?.name || scholarship.scholarship?.sponsor.name }}</p>
        </ion-label>
      </ion-item>
      <ng-template [ngIf]="!scholarship.saved && !scholarship.scholarship?.saved">
        <ion-button class="lowercase"
                    color="primary"
                    fill="clear"
                    size="small"
                    (click)="setSavingIndex(index);save(scholarship)"
                    *ngIf="isSavingIndex !== index">
          <ion-icon name="star-outline"
                    slot="start"></ion-icon> Save
        </ion-button>
        <ion-button class="lowercase"
                    color="secondary"
                    fill="clear"
                    size="small"
                    *ngIf="isSavingIndex === index">
          <ion-icon name="star-outline"
                    slot="start"></ion-icon> Saving...
          <!-- <ion-icon name="saving"
            slot="start"></ion-icon> Saving... -->
        </ion-button>
      </ng-template>
      <ion-button class="lowercase"
                  color="success"
                  fill="clear"
                  size="small"
                  *ngIf="scholarship.saved || scholarship.scholarship?.saved"
                  (click)="remove(scholarship)">
        <ion-icon name="star"
                  slot="start"></ion-icon> Saved
      </ion-button>
      <ion-button class="lowercase"
                  color="primary"
                  fill="clear"
                  size="small"
                  *ngIf="isRecd"
                  (click)="removeRec(scholarship.id)">
        <ion-icon name="unsave"
                  slot="start"></ion-icon> Decline
      </ion-button>
      <ion-button class="lowercase"
                  color="primary"
                  fill="clear"
                  size="small"
                  *ngIf="(connectionService.all$ | async)?.length"
                  (click)="openSendModal(scholarship)">
        <ion-icon name="send"
                  slot="start"></ion-icon> Send
      </ion-button>
      <div class="chip-container truncate fit ion-margin-right ion-text-right"
           *ngIf="isRecd && scholarship.recommender">
        <ion-chip class="truncate fit recommender"
                  color="success">
          <ion-label>{{ scholarship.recommender.get_full_name }}</ion-label>
        </ion-chip>
      </div>
    </ion-card>
  </ion-list>
  <ng-container *ngIf="(ships$ | async)?.length > 0
                       && scholarshipService.nextPage
                       && list?.name === 'Search All'">
    <ion-infinite-scroll threshold="20%"
                         (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"
                                   loadingText="Loading..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
  <ng-template [ngIf]="!(ships$ | async)?.length
                       && ((ships$ | async) || !scholarshipService.fetchingScholarships)">
    <empty-state *ngIf="emptyState"
                 [emptyState]="emptyState"></empty-state>
  </ng-template>
  <ng-template [ngIf]="!(ships$ | async)?.length
                       && (!(ships$ | async) || scholarshipService.fetchingScholarships)">
    <ion-list>
      <ion-card class="placeholder"
                *ngFor="let placeholder of placeholders">
        <ion-item>
          <ion-label></ion-label>
          <ion-avatar class="grey-gradient"
                      slot="start"></ion-avatar>
          <div class="grey-gradient"></div>
          <div class="grey-gradient"></div>
        </ion-item>
        <div class="darker-grey-gradient img-block"></div>
      </ion-card>
    </ion-list>
  </ng-template>
</ion-content>
