<ion-header>
  <chat-toolbar></chat-toolbar>
</ion-header>
<!-- scrollDownOnLoad="true"  [class.align-bottom]="keyboardShowing && !messagesOverflowing" -->
<ion-content>
  <chat-body (clear)="messageService.clear()"
             (loadMore)="messageService.getMessages(messageService.selectedTeamMember.id)"
             [emptyState]="emptyState"
             [isSending]="(messageService.isSending$ | async)"
             [messages]="(messageService.messages$ | async)"
             [nextPage]="(messageService.nextPage$ | async)"></chat-body>
  <!-- <ng-template [ngIf]="(messages$ | async)?.length > 0">
</ion-content>
    <ion-infinite-scroll position="top"
                         [disabled]="!hasNextPage"
                         (ionInfinite)="loadMoreMessages($event)"
                         #infiniteScroll>
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-grid #messagesContainer>
      <ng-template let-i="index"
                   let-isFirst="first"
                   let-message
                   ngFor
                   [ngForOf]="(messages$ | async)">
        <ng-template [ngIf]="message">
          <ion-row class="message-date"
                   *ngIf="isFirst || isNewDate(message, i)">
            <ion-col class="actionIcon bold ion-text-center">{{ getDate(message) | date:'longDate' }}</ion-col>
          </ion-row>
          <ion-row class="ion-align-items-stretch ion-justify-content-end"
                   [class.from-me]="(user?.id === message.author?.id)"
                   [class.from-them]="(user?.id !== message.author?.id)"
                   [class.new-author]="isFirst
                                       || isNewAuthor(message, i)
                                       || isNewDate(message, i)">
            <ion-col class="avatar-col ion-no-padding"
                     size="auto"
                     *ngIf="message && user?.id !== message.author?.id">
              <ion-avatar class="avatar-shadow"
                          slot="start"
                          [style.visibility]="(isFirst
                                               || isNewAuthor(message, i)
                                               || isNewDate(message, i))
                                              ? 'visible' : 'hidden'">
                <img [src]="message.author?.profile_photo || teamMemberPhoto || avatarPlaceholder">
              </ion-avatar>
            </ion-col>
            <ion-col class="message-col">
              <div class="text-steel tinyText ion-margin-left ion-text-left"
                   *ngIf="messageType === 'note'
                          && message.author?.id !== user?.id
                          && (isFirst
                              || isNewAuthor(message, i)
                              || isNewDate(message, i))"> {{ user?.id !== message.author?.id
                   ? (message.author?.full_name || (message.author?.first_name + ' ' + message.author?.last_name))
                   : 'Me' }} </div>
              <div class="body"
                   expand="block"
                   paragraph
                   [attr.margin-top]="messageType === 'note'
                                      && user?.id === message.author?.id
                                      && (isFirst
                                          || isNewAuthor(message, i)
                                          || isNewDate(message, i))
                                      ? true : null"
                   [class.from-me]="user?.id === message.author?.id"
                   [class.from-them]="user?.id !== message.author?.id"
                   [ngClass]="(user?.id === message.author?.id) ? 'bg-blue text-white' : 'bg-grayMedium'">
                <div class="note"
                     *ngIf="!message.linkOnly">{{ message.note || message.body }}</div>
                <ion-button class="truncate fit ion-no-padding"
                            color="success"
                            size="small"
                            *ngIf="message.attachment"
                            (click)="openAttachment(message.attachment)">
                  <ion-icon color="light"
                            slot="start"
                            [name]="message.attachment?.page"></ion-icon>
                  <ion-label class="no-caps">{{ message.attachment?.name }}</ion-label>
                </ion-button>
              </div>
            </ion-col>
            <ion-col class="avatar-col ion-no-padding"
                     size="auto"
                     *ngIf="message && user?.id === message.author?.id">
              <ion-avatar class="avatar-shadow"
                          slot="start"
                          [style.visibility]="(isFirst
                                               || isNewAuthor(message, i)
                                               || isNewDate(message, i))
                                              ? 'visible' : 'hidden'">
                <img [src]="user?.profile_photo
                            || message.author?.profile_photo
                            || avatarPlaceholder">
              </ion-avatar>
            </ion-col>
          </ion-row>
        </ng-template>
      </ng-template>
      <ion-row class="from-me ion-align-items-stretch ion-justify-content-end"
               *ngIf="messageService.isSending$ | async">
        <ion-col class="message-col">
          <div bg-blue-50
               class="body"
               expand="block"
               from-me
               paragraph>
            <ion-spinner></ion-spinner>
          </div>
        </ion-col>
        <ion-col class="avatar-col ion-no-padding"
                 size="auto"></ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
  <empty-state *ngIf="(messages$ | async)
                      && (messages$ | async)?.length < 1
                      && emptyState"
               [emptyState]="emptyState"></empty-state>
  <loading *ngIf="!(messages$ | async) || (messageService.isInitializing$ | async)"></loading> -->
</ion-content>
<ion-footer color="light">
  <chat-input (send)="send($event)"></chat-input>
  <!-- <ion-toolbar>
    <ion-item class="ion-padding-horizontal">
      <ion-label></ion-label>
      <input class="ion-input"
             name="message"
             type="text"
             [disabled]="!(messages$ | async)"
             (ionFocus)="scrollToBottom()"
             (keyup.enter)="send(newMessage)"
             [placeholder]="inputPlaceholder"
             [(ngModel)]="newMessage">
      <ion-button color="primary"
                  fill="clear"
                  icon-only
                  type="submit"
                  (click)="send(newMessage)"
                  [disabled]="!newMessage">
        <ion-icon name="send"
                  slot="end"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar> -->
</ion-footer>
