<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="subhead">{{ title }}</div> {{ category?.name }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="clear()"
                  [color]="category?.isActive ? 'primary' : 'steel'"
                  [disabled]="!category?.isActive">Clear</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item class="ion-no-padding ion-text-center"
              [class.bg-blue10]="category?.selectedItems[0]?.id"
              [class.text-blue]="category?.selectedItems[0]?.id"
              [class.text-steel50]="!category?.isActive">
      <ion-label>
        <ng-template [ngIf]="category?.config.prefix">{{ category?.config.prefix }}</ng-template>
        {{ selectedValueDisplay | number }}
      </ion-label>
    </ion-item>
    <ion-item class="range-values text-steel50"
              no-lines>
      <span slot="start">
        <ng-template [ngIf]="category?.config.prefix">{{ category?.config.prefix }}</ng-template>
        {{ (category?.config.min | number) || 0 }}
      </span>
      <ion-label></ion-label>
      <span slot="end">
        <ng-template [ngIf]="category?.config.prefix">{{ category?.config.prefix }}</ng-template>
        {{ (category?.config.max | number) || 100 }}
      </span>
    </ion-item>
    <ion-range debounce="250"
               max="{{category?.config.max || 100}}"
               min="{{category?.config.min || 0}}"
               step="{{category?.config.step || 50}}"
               [dualKnobs]="dualKnobs"
               (ionChange)="setFilter()"
               [(value)]="selectedValue">
    </ion-range>
  </ion-list>
</ion-content>
<ion-footer *ngIf="category?.isActive || filterService.filter?.activeChildCount">
  <ion-toolbar color="primary">
    <ion-button color="light"
                expand="full"
                fill="clear"
                slot="end"
                *ngIf="filterService.isCyol"
                (click)="viewSummary()"> Next <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
    <ion-button color="light"
                expand="full"
                fill="clear"
                *ngIf="!filterService.isCyol"
                (click)="applyFilters()"> Apply Filters <ion-badge class="text-blue bg-white ion-margin-left">
        {{ filterService.filter?.activeChildCount }}</ion-badge>
    </ion-button>
  </ion-toolbar>
</ion-footer>
