<ion-item class="bg-grayLight"
          lines="none"
          no-lines
          *ngIf="hasAttachment"
          (click)="download()">
  <img class="attach-icon"
       slot="start"
       src="assets/image/task/detail_attachments.svg">
  <ion-label class="body truncate">{{ attachmentName }}</ion-label>
  <ion-icon color="primary"
            slot="end"
            name="download"></ion-icon>
</ion-item>
<div [hidden]="!isLoading">
  <loading></loading>
</div>
<empty-state *ngIf="!hasAttachment && !isLoading"
             [emptyState]="emptyState"></empty-state>
<ion-toolbar color="primary">
  <input class="file-input"
         type="file"
         (change)="upload($event)">
  <ion-button color="light"
              expand="full"
              fill="clear">Attach a File</ion-button>
</ion-toolbar>
