<ion-content>
  <ion-spinner *ngIf="!college"></ion-spinner>
  <ng-template [ngIf]="college">
    <div class="surveyQuestion ion-padding ion-text-center">{{ college?.name }}</div>
    <ion-card *ngIf="(college?.is_public
                            || college?.is_four_year)
                           || college?.school_setting
                           || (college?.religious_affil
                               && college?.religious_affil !== 'Not applicable')">
      <ion-card-header>Overview</ion-card-header>
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col class="ion-align-self-center"
                   *ngIf="college?.is_public || college?.is_four_year">
            <div class="ion-text-center">
              {{ (college?.is_public ? 'Public, ' : 'Private, ') + (college?.is_four_year ? '4 year' : '2 year') }}
            </div>
          </ion-col>
          <ion-col class="ion-align-self-center ion-text-center"
                   *ngIf="college?.school_setting">
            <img src="assets/image/college/setting_{{settingType | lowercase}}.svg">
            <div>{{ college?.school_setting }}</div>
          </ion-col>
          <ion-col class="ion-align-self-center"
                   *ngIf="college?.religious_affil
                     && college?.religious_affil !== 'Not applicable'">
            <div class="ion-text-center">{{ college?.religious_affil }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card *ngIf="(college?.population
                      || details?.undergrad_population
                      || details?.grad_population)
                      || maleFemaleChart
                      || diversityChart">
      <ion-card-header>Students</ion-card-header>
      <ion-grid *ngIf="college?.population
                       || details?.undergrad_population
                       || details?.grad_population">
        <ion-row>
          <ion-col class="ion-align-self-center ion-text-center"
                   *ngIf="college?.population">
            <ion-text class="displayHeader"
                      color="primary">{{ college?.population | number:'1.0-0' }}</ion-text>
            <div>Total Students</div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="ion-no-padding">
        <!-- *ngIf="gradUnderChart || maleFemaleChart || diversityChart"> -->
        <ion-row class="ion-align-items-center ion-justify-content-center"
                 *ngIf="gradUnderChart?.values.length">
          <ion-col size="12">
            <pie-chart [showLegend]="false"
                       [colors]="gradUnderChart.colors"
                       [labels]="gradUnderChart.labels"
                       [values]="gradUnderChart.values"></pie-chart>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card *ngIf="maleFemaleChart
                     || diversityChart">
      <ion-card-header>Undergrads</ion-card-header>
      <ion-grid>
        <ion-row *ngIf="details?.undergrad_population">
          <ion-col class="ion-align-self-center ion-text-center"
                   *ngIf="college?.population">
            <ion-text class="displayHeader"
                      color="primary">{{ details?.undergrad_population | number:'1.0-0' }}</ion-text>
            <div>Undergrad Population</div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center"
                 *ngIf="maleFemaleChart?.values.length">
          <ion-col size="12">
            <pie-chart [showLegend]="false"
                       [colors]="maleFemaleChart.colors"
                       [labels]="maleFemaleChart.labels"
                       [values]="maleFemaleChart.values"></pie-chart>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center"
                 *ngIf="diversityChart?.values.length">
          <ion-col size="12">
            <pie-chart [showLegend]="true"
                       [colors]="diversityChart.colors"
                       [labels]="diversityChart.labels"
                       [values]="diversityChart.values"></pie-chart>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card *ngIf="details?.mission_statement">
      <ion-card-header>Description</ion-card-header>
      <ion-card-content class="body spaced">{{ details?.mission_statement }}</ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
