<ion-content>
  <div class="gray-sections"
       *ngIf="college">
    <ng-template [ngIf]="graduationChart || retentionChart || admissionChart">
      <div>Academic Statistics</div>
      <ion-grid no-padding>
        <ion-row justify-content-center
                 align-items-center>
          <ion-col *ngIf="graduationChart">
            <pie-chart [series]="graduationChart"
                       label="Graduation"></pie-chart>
          </ion-col>
          <ion-col *ngIf="retentionChart">
            <pie-chart [series]="retentionChart"
                       label="Retention"></pie-chart>
          </ion-col>
          <ion-col *ngIf="admissionChart">
            <pie-chart [series]="admissionChart"
                       label="Admission"></pie-chart>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
    <ng-template [ngIf]="college.details?.avg_gpa">
      <div>Average GPA of Current Freshman Class</div>
      <ion-range mode="ios"
                 min="0"
                 max="5"
                 color="primary"
                 pin="true"
                 disabled
                 step="0.1"
                 [(value)]="college.details.avg_gpa">
        <ion-label slot="start">0.0</ion-label>
        <ion-label slot="end">5.0</ion-label>
      </ion-range>
    </ng-template>
    <ng-template [ngIf]="averageAct">
      <div>Average ACT Score of Current Freshman Class</div>
      <ion-range mode="ios"
                 min="0"
                 max="36"
                 color="primary"
                 pin="true"
                 disabled
                 [(value)]="averageAct">
        <ion-label slot="start">0</ion-label>
        <ion-label slot="end">36</ion-label>
      </ion-range>
    </ng-template>
    <ng-template [ngIf]="averageSatMath">
      <div>Average SAT Math Score of Current Freshman Class</div>
      <ion-range mode="ios"
                 min="200"
                 max="800"
                 color="primary"
                 pin="true"
                 disabled
                 [(value)]="averageSatMath">
        <ion-label slot="start">200</ion-label>
        <ion-label slot="end">800</ion-label>
      </ion-range>
    </ng-template>
    <ng-template [ngIf]="averageSatReading">
      <div>Average SAT Reading Score of Current Freshman Class</div>
      <ion-range mode="ios"
                 min="200"
                 max="800"
                 color="primary"
                 pin="true"
                 disabled
                 [(value)]="averageSatReading">
        <ion-label slot="start">200</ion-label>
        <ion-label slot="end">800</ion-label>
      </ion-range>
    </ng-template>
    <ng-template [ngIf]="averageSatWriting">
      <div>Average SAT Writing Score of Current Freshman Class</div>
      <ion-range mode="ios"
                 min="200"
                 max="800"
                 color="primary"
                 pin="true"
                 disabled
                 [(value)]="averageSatWriting">
        <ion-label slot="start">200</ion-label>
        <ion-label slot="end">800</ion-label>
      </ion-range>
    </ng-template>
    <ng-template [ngIf]="college.details?.most_popular_major_1
                         || college.details?.most_popular_major_2
                         || college.details?.most_popular_major_3">
      <div>Top Majors</div>
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="college.details?.most_popular_major_1">
            <div class="body"
                 text-center>{{ college.details?.most_popular_major_1 }}</div>
          </ion-col>
          <ion-col *ngIf="college.details?.most_popular_major_2">
            <div class="body"
                 text-center>{{ college.details?.most_popular_major_2 }}</div>
          </ion-col>
          <ion-col *ngIf="college.details?.most_popular_major_3">
            <div class="body"
                 text-center>{{ college.details?.most_popular_major_3 }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
    <ng-template [ngIf]="college.details?.pre_dentistry
                         || college.details?.pre_law
                         || college.details?.pre_medicine
                         || college.details?.pre_optometry
                         || college.details?.pre_pharmacy
                         || college.details?.pre_theology
                         || college.details?.pre_veterinary">
      <div>Pre-Professional Programs</div>
      <ion-grid class="pre-pro">
        <ion-row justify-content-center>
          <ion-col text-center
                   *ngIf="college.details?.pre_dentistry">
            <img src="assets/image/college/detail_pre-dentistry.svg" />
            <div class="body">Pre-Dentistry</div>
          </ion-col>
          <ion-col text-center
                   *ngIf="college.details?.pre_law">
            <img src="assets/image/college/detail_pre-law.svg" />
            <div class="body">Pre-Law</div>
          </ion-col>
          <ion-col text-center
                   *ngIf="college.details?.pre_medicine">
            <img src="assets/image/college/detail_pre-medicine.svg" />
            <div class="body">Pre-Medicine</div>
          </ion-col>
          <ion-col text-center
                   *ngIf="college.details?.pre_optometry">
            <img src="assets/image/college/detail_pre-optometry.svg" />
            <div class="body">Pre-Optometry</div>
          </ion-col>
          <ion-col text-center
                   *ngIf="college.details?.pre_pharmacy">
            <img src="assets/image/college/detail_pre-pharmacy.svg" />
            <div class="body">Pre-Pharmacy</div>
          </ion-col>
          <ion-col text-center
                   *ngIf="college.details?.pre_theology">
            <img src="assets/image/college/detail_pre-theology.svg" />
            <div class="body">Pre-Theology</div>
          </ion-col>
          <ion-col text-center
                   *ngIf="college.details?.pre_veterinary">
            <img src="assets/image/college/detail_pre-veterinary.svg" />
            <div class="body">Pre-Veterinary</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
    <ng-template [ngIf]="college.details?.army_offcamp
                         || college.details?.navy_offcamp
                         || college.details?.af_offcamp">
      <div>Reserve Officers' Training Corps (ROTC)</div>
      <ion-grid>
        <ion-row>
          <ion-col align-self-center
                   *ngIf="college.details?.army_offcamp">
            <div text-center
                 margin-bottom>
              <img height="60"
                   src="assets/image/military/army.jpg" />
            </div>
            <div class="body"
                 text-center>Army</div>
          </ion-col>
          <ion-col align-self-center
                   *ngIf="college.details?.navy_offcamp">
            <div text-center
                 margin-bottom>
              <img height="60"
                   src="assets/image/military/navy.jpg" />
            </div>
            <div class="body"
                 text-center>Navy</div>
          </ion-col>
          <ion-col align-self-center
                   *ngIf="college.details?.af_offcamp">
            <div text-center
                 margin-bottom>
              <img height="60"
                   src="assets/image/military/air-force.jpg" />
            </div>
            <div class="body"
                 text-center>Air Force</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
    <ng-template [ngIf]="furtherStudyChart || jobMarketChart">
      <div>Graduate Statistics</div>
      <ion-grid no-padding>
        <ion-row justify-content-center
                 align-items-center>
          <ion-col *ngIf="furtherStudyChart">
            <pie-chart [series]="furtherStudyChart"
                       label="Pursuing Further Study"></pie-chart>
          </ion-col>
          <ion-col *ngIf="jobMarketChart">
            <pie-chart [series]="jobMarketChart"
                       label="Entering Job Market"></pie-chart>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  </div>
</ion-content>
