<ion-header>
  <ion-toolbar [attr.no-padding]="showParentHeader && user.students.length > 1 ? true : null">
    <ion-buttons slot="start">
      <notifications-button></notifications-button>
    </ion-buttons>
    <ion-title>
      <ng-template [ngIf]="!showParentHeader">Tasks</ng-template>
      <ng-template [ngIf]="showParentHeader">
        <ng-template [ngIf]="user.students && user.students.length === 1"> {{ getDisplayText(activeStudent) }}
        </ng-template>
        <ng-template [ngIf]="user.students && user.students.length > 1">
          <ion-select [interfaceOptions]="{title: 'Select Student'}"
                      [selectedText]="getDisplayText(activeStudent)"
                      [(ngModel)]="activeStudent">
            <ion-select-option *ngFor="let student of user.students"
                               [value]="student">{{ student.full_name }}</ion-select-option>
          </ion-select>
        </ng-template>
      </ng-template>
    </ion-title>
    <ion-buttons slot="end">
      <messaging-button></messaging-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grayLight">
  <loading *ngIf="!taskTiles || !taskTiles.length"></loading>
  <ion-grid class="ion-no-padding"
            tiles
            *ngIf="!user.isParent || user.students?.length">
    <ion-row>
      <ion-col *ngFor="let tile of taskTiles; let i = index"
               [attr.col-4]="tile.colSpan === 4
                             && !(taskTiles[i+1]?.phase && taskTiles[i+1]?.phase !== user.phase)
                             ? true : null"
               [attr.col-6]="tile.colSpan === 6 ? true : null"
               [attr.col-8]="tile.colSpan === 8 ? true : null"
               [hidden]="tile.phase && tile.phase !== user.phase">
        <ion-card class="tile">
          <ion-button class="tile-button"
                      color="light"
                      (click)="viewList(tile)">
            <div class="tile-button-content flex-column">
              <img class="logo"
                   [src]="tile.iconUrl">
              <div class="tile-label">{{ tile.name }}</div>
            </div>
          </ion-button>
        </ion-card>
      </ion-col>
      <ion-col class="school-tile"
               size="6"
               *ngFor="let school of collegeTrackers">
        <ion-card class="tile">
          <ion-button class="tile-button"
                      color="light"
                      (click)="viewCollege(school)">
            <div class="tile-button-content flex-column">
              <div class="tile-avatar-wrapper avatar-shadow">
                <img [src]="school.photo_url">
              </div>
              <div class="tile-label">{{ school | collegeName:true }}</div>
            </div>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <empty-state *ngIf="user.isParent && !user.students?.length && parentEmptyState"
               [emptyState]="parentEmptyState"></empty-state>
</ion-content>
