<ion-header>
  <ion-toolbar [color]="taskStatus?.color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ taskTracker?.task.name }}</ion-title>
  </ion-toolbar>
  <ion-toolbar [color]="taskStatus?.color">
    <ion-segment class="flex-segments"
                 scrollable="true"
                 [(value)]="activeView"
                 (ionChange)="switchView($event)">
      <ion-segment-button layout="icon-start"
                          value="detail">
        <ion-label>Detail</ion-label>
        <ion-icon name="information-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button layout="icon-start"
                          value="attachments">
        <ion-label>Attachments</ion-label>
        <ion-icon name="attach"></ion-icon>
        <ion-badge slot="end"
                   *ngIf="taskTracker.hasAttachment">1</ion-badge>
      </ion-segment-button>
      <ion-segment-button layout="icon-start"
                          value="notes">
        <ion-label>Notes</ion-label>
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-badge slot="end"
                   *ngIf="(taskNotesService.count$ | async) > 0">{{taskNotesService.count$ | async}}</ion-badge>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content [ngSwitch]="(activeView$ | async)">
  <task-detail class="task-page"
               *ngSwitchCase="'detail'"
               [id]="id"
               [prompt]="prompt"
               [isParent]="isParent"
               [isUpdating]="isUpdating"
               [taskTracker]="taskTracker"
               [typeImage]="typeImage"></task-detail>
  <task-attachments class="task-page"
                    *ngSwitchCase="'attachments'"
                    [taskTracker]="taskTracker"></task-attachments>
  <task-notes class="task-page"
              *ngSwitchCase="'notes'"
              [taskTracker]="taskTracker"></task-notes>
</ion-content>
