task {
  ion-toolbar {
    .toolbar-background {
      transition: background-color 0.5s ease-in-out;
    }
  }
  div.body.paragraph {
    border-bottom: 1px solid white;
  }
  .type-image {
    height: 86px;
    width: 86px;
  }
}
